<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanking.models.dao.InputDao">
    <resultMap id="BaseResultMap" type="com.nanking.models.domain.Input">
        <id column="input_id" jdbcType="INTEGER" property="id"></id>
        <result column="input_type" jdbcType="CHAR" property="inputType"></result>
        <result column="input_time" jdbcType="CHAR" property="inputTime"></result>
        <result column="input_person" jdbcType="CHAR" property="inputPerson"></result>

    </resultMap>

    <sql id="Base_Colum_List">
        input_id,input_time,input_person,input_time
    </sql>
    <insert  id="add"  parameterType="com.nanking.models.domain.Input">
        insert into input (input_id,input_Type,input_person.input_time) values(#{input.inputId},#{input.inputType},#{input.inputPerson},#{input.inputTime})
    </insert>

    <update id="modify" parameterType="com.nanking.models.domain.Input"  >
        alter  input set name=#{name} and number=#{number} where id=#{id}
    </update>

</mapper>

