<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanking.models.dao.TestDao">
    <sql id="BASE_COLUMN">
        userId,userName,password,phone
    </sql>
   <insert id="add" parameterType="String" >
       insert into output name #{name} and number=#{number} where id=#{id}
   </insert>


    <update id="update" parameterType="String"  >
        alter  output set name=#{name} and number=#{number} where id=#{id}
    </update>


</mapper>

